body{
    padding: 90px;
}
.submit-area{
  
    margin-top: 40px;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px gray;
}
#transaction-area{
    display: none;
}
.status{
    
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
 .withdraw{
    background-color: lightblue;
}
 .balance{
    background-color: orange;
}